In [ ]:
%reload_ext autoreload
%autoreload 2

# match

> Fetch match stats for individual games.

In [ ]:
#| default_exp match

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def fetch_all_matches():
    """Fetches all match information that exists: \n
    * match_id \n
    * home_team \n
    * away_team \n
    * date
    """

    try:
        print("Fetching all matches...")
        date_url = "https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v3/match/match_registry.parquet"
        matches = pd.read_parquet(date_url, engine="pyarrow").sort_values(by="date", ascending=True)
        return matches
    except Exception as e:
        print(
            f"No match information either because no matches took place or rugbypy does not have access to the match data - {e}. Please raise an issue if neither."
        )

In [ ]:
fetch_all_matches()

Fetching all matches...

,match_id,home_team,away_team,date
1498,cae3129b,Exeter Chiefs,Bristol Rugby,20220101
1499,494f4092,Scarlets,Ospreys,20220101
1500,77e4e537,Connacht,Munster,20220101
1501,fbca6594,Stade Francais Paris,Perpignan,20220101
1502,7863a641,Clermont Auvergne,Stade Toulousain,20220101
...,...,...,...,...
1121,2ac5db4a,Shizuoka Bluerevs,Urayasu D Rocks,20251228
1122,a68f4527,Toshiba Brave Lupus Tokyo,Yokohama Canon Eagles,20251228
1123,00adb234,Mitsubishi Sagamihara Dynaboars,Saitama Wild Knights,20251228
1117,e37207b8,Leicester,Exeter Chiefs,20251228
4743,667ee422,Beziers,Uso Nevers,20260403

In [ ]:
#| export
def fetch_matches_by_date(date: str):
    """Fetches all match information on a particular date in the format YYYYMMDD that includes: \n
    * match_id \n
    * competition_id \n
    * home_team_id \n
    * home_team_name \n
    * away_team_id \n
    * away_team_name \n
    """

    try:
        print(f"Fetching matches on date: {date}...")
        date_url = f"https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v3/dates/{date}.parquet"
        matches = pd.read_parquet(date_url, engine="pyarrow")
        return matches
    except Exception as _:
        print(
            f"No match information for matches played on {date} either because no matches took place or rugbypy does not have access to the match data. Please raise en issue if neither."
        )

In [ ]:
fetch_matches_by_date(date="20251205")

Fetching matches on date: 20251205...

,match_id,competition_id,home_team_id,home_team,away_team_id,away_team
0,35e0b16d,ee0c6883,d7d74d92,Sale Sharks,6f08f859,Glasgow Warriors
1,f29de850,ee0c6883,fe2eda63,Bayonne,f54be954,Stormers
2,722ce3c7,83d92007,0aa2b3cc,Ulster,2e49b214,Racing 92
3,6afe8441,822142db,deee3415,Beziers,af22c862,Soyaux Angouleme
4,719b1db1,822142db,93d1e116,Carcassonne,34149c5c,Vannes
5,3aa1bb81,822142db,98fce2f7,Biarritz,791d6c23,Valence Romans
6,575235eb,822142db,870e9fb0,Aurillac,d5468acc,Brive
7,66a1c770,822142db,6992ab09,Dax,8b15a375,Uso Nevers
8,f196da5a,822142db,2bac4677,Agen,4f43e2ca,Provence Rugby
9,416f317e,822142db,6de7a527,Mont De Marsan,53983719,Oyonnax

In [ ]:
#| export
def fetch_match_details(match_id: str):
    """Fetches match data for a certain match_id"""
    print(f"Fetching match details for match_id: {match_id}...")
    try:
        match_url = f"https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v3/match/{match_id}.parquet"
        matches = pd.read_parquet(match_url, engine="pyarrow")
        return matches
    except Exception as _:
        print("Error fetching match data. Please raise an issue!")

In [ ]:
fetch_match_details(match_id="35e0b16d")

Fetching match details for match_id: 35e0b16d...

,match_id,date,season,competition_id,competition,venue_id,venue,city_played,home_team,away_team,...,completed,is_tournament,played_on_grass,attendance,home_team_form,away_team_form,kickoff_time,home_score,away_score,referee
0,35e0b16d,20251205,2025,ee0c6883,European Rugby Champions Cup,059580a0,CorpAcq Stadium,Salford,Sale Sharks,Glasgow Warriors,...,True,True,True,None,WLWLL,WWWWL,14:30,21,26,None

In [ ]:
#| export
def fetch_matches(date: str):
    print("Deprecated, please use the fetch_matches_by_date() function instead")

In [ ]:
#| hide
import nbdev 
nbdev.nbdev_export()