In [ ]:
%reload_ext autoreload
%autoreload 2

# match

> Fetch match stats for individual games.

In [ ]:
#| default_exp match

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def fetch_matches(date: str):
    """Fetches all match information on a particular date that includes: \n
    * match_id \n
    * competition_id \n
    * home_team_id \n
    * away_team_id
    """

    try:
        print(f"Fetching matches on date: {date}...")
        date_url = f"https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v2/dates/{date}.parquet"
        matches = pd.read_parquet(date_url, engine="pyarrow")
        matches = matches.assign(date=date)
        return matches
    except Exception as e:
        print(
            f"No match information for matches played on {date} either because no matches took place or rugbypy does not have access to the match data - {e}. Please raise if neither."
        )

In [ ]:
fetch_matches(date="20230101")

Fetching matches on date:20230101...

,match_id,competition_id,home_team_id,home_team,away_team_id,away_team,date
0,595735,267979,25907,Northampton Saints,25901,Harlequins,20230101
1,599464,270557,25965,Cardiff Blues,25968,Ospreys,20230101
2,599465,270557,25966,Scarlets,25967,Dragons,20230101
3,599466,270557,25926,Ulster,25925,Munster,20230101
4,599467,270557,25924,Leinster,25923,Connacht,20230101
5,597648,270559,25917,Clermont Auvergne,25922,Stade Toulousain,20230101

In [ ]:
#| export
def fetch_match_details(match_id: str):
    """Fetches match data for a certain match_id"""
    print(f"Fetching match details for match_id:{match_id}...")
    try:
        match_url = f"https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v2/match/{match_id}.parquet"
        matches = pd.read_parquet(match_url, engine="pyarrow")
        return matches
    except Exception as e:
        print(f"Error fetching match data - {e}. Please raise an issue!")

In [ ]:
fetch_match_details(match_id="595735")

Fetching match details for match_id:595735...

,match_id,date,season,competition_id,competition,venue_id,venue,city_played,home_team,away_team,home_team_id,away_team_id,completed,is_tournament,played_on_grass,attendance,home_team_form,away_team_form
0,595735,20230101,2023,267979,Premiership Rugby,26070,cinch Stadium at Franklin's Gardens,Northampton,Northampton Saints,Harlequins,25907,25901,True,True,True,None,WLWWL,WTLWL

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()