In [ ]:
%reload_ext autoreload
%autoreload 2

# team

> Fetch team stats for individual games.

In [ ]:
#| default_exp team

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd
import typing

In [ ]:
#| export
def fetch_all_teams():
    """
    Fetches all team available
    """
    try:
        print("Fetching all teams available...")
        team_url = "https://github.com/seanyboi/rugbydata/blob/main/data/v3/team/team_registry.parquet?raw=true"
        team_stats = pd.read_parquet(team_url, engine="pyarrow")
        return team_stats
    except Exception as _:
        print(
            "No teams available. Please raise an issue!"
        )

In [ ]:
fetch_all_teams()

Fetching all teams available...

      team_id             team_name
0    5fa975a5               Ospreys
1    79c81be4         Cardiff Blues
2    0e10c257              Scarlets
3    973ef5cc         Gwent Dragons
4    93542906             Newcastle
..        ...                   ...
284  0c3eb5f5       France Women 7s
285  91fc7224       Brazil Women 7s
286  03817b3b         Fiji Women 7s
287  3baba750       Canada Women 7s
288  04349324  New Zealand Women 7s

[289 rows x 2 columns]

In [ ]:
#| export
def fetch_team_stats(team_id: str, date: typing.Optional[str] = None):
    """
    Fetches all team stats for a particular team or if a date is passed (YYYYMMDD) then just for a particular game
    """
    try:
        if date:
            print(f"Fetching team stats for team_id: {team_id} on date: {date}...")
            team_url = f"https://github.com/seanyboi/rugbydata/blob/main/data/v3/team/{team_id}.parquet?raw=true"
            team_stats = pd.read_parquet(team_url, engine="pyarrow")
            team_stats = team_stats.query('game_date == @date')
            return team_stats
        else:
            print(f"Fetching all team stats for team_id: {team_id}...")
            team_url = f"https://github.com/seanyboi/rugbydata/blob/main/data/v3/team/{team_id}.parquet?raw=true"
            team_stats = pd.read_parquet(team_url, engine="pyarrow")
            return team_stats
    except Exception as _:
        print(
            "No team stats for {team_id} because the team id does not exist. Please raise an issue!"
        )

In [ ]:
fetch_team_stats(team_id="93542906")

Fetching all team stats for team_id: 93542906...

         team game_date  ... yellow_cards metres_carried
0   Newcastle  20250103  ...          NaN            NaN
1   Newcastle  20250111  ...          NaN            NaN
2   Newcastle  20250117  ...          NaN            NaN
3   Newcastle  20250126  ...          NaN            NaN
4   Newcastle  20250321  ...          NaN            NaN
..        ...       ...  ...          ...            ...
87  Newcastle  20241129  ...          NaN            NaN
88  Newcastle  20241208  ...          NaN            NaN
89  Newcastle  20241215  ...          NaN            NaN
90  Newcastle  20241221  ...          NaN            NaN
91  Newcastle  20241228  ...          NaN            NaN

[92 rows x 59 columns]

In [ ]:
fetch_team_stats(team_id="93542906", date="20251128")

Fetching team stats for team_id: 93542906 on date: 20251128...

         team game_date  ... yellow_cards metres_carried
16  Newcastle  20251128  ...          NaN            NaN

[1 rows x 59 columns]

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()