In [ ]:
%reload_ext autoreload
%autoreload 2

# venue

> Fetch all venues available.

In [ ]:
#| default_exp venue

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
def fetch_all_venues():
    """Fetches all venue information that exists: \n
    * venue_id \n
    * venue_name
    """

    try:
        print("Fetching all venues...")
        date_url = "https://raw.githubusercontent.com/seanyboi/rugbydata/main/data/v3/venue/venue_registry.parquet"
        venues = pd.read_parquet(date_url, engine="pyarrow")
        return venues
    except Exception as _:
        print(
            "No match information either because no venue took place or rugbypy does not have access to the venue data. Please raise an issue if neither."
        )

In [ ]:
fetch_all_venues()

Fetching all venues...

     venue_id                                  venue_name
0    fb155133                           Cardiff Arms Park
1    1f19e651                             Parc y Scarlets
2    74f2b7f9                               Kingston Park
3    477771ab                                   Kingsholm
4    3933483f         Mattioli Woods Welford Road Stadium
..        ...                                         ...
345  8c0b3ee4                  Estadio Jorge Luis Hirschi
346  8a535068  Estadio Brigadier General Estanislao López
347  b9f8a9dd                           Massey university
348  cc60410c                           Bluenergy Stadium
349  8c764117                     Chambéry Savoie Stadium

[350 rows x 2 columns]

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()